html {
    font-family: Arial, Helvetica, sans-serif;
}

td {
    text-align: center;
}

.left {
    text-align: left;
}


.bitstate {
    font-size: xx-large;
}

.bitval {
    font-size: xx-large;
}

.bitval_info {
    color: lightgray;
    font-size: x-large;
}
